body {
    background-color: rgb(178, 115, 179);
}

fieldset, form {
    display: inline-block;
}

h1, h2, td {
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 8px;
}

ol {
    display: flex;
}

td, th {
    height: 2rem;
    width: 2rem;
}

td:hover {
    color: red;
}

tbody:hover {
    cursor: pointer;
}

th {
    border-bottom: 1px solid black;
}

table {
    border-collapse: collapse;
    background-color: white;
}

#playerSection, ol {
    display: flex;
    flex-wrap: wrap;
}

.player-card {
    border: 1px solid black;
    margin: 5px;
}

.num-called {
    background-color: lightgreen;
}

.winner {
    background-color: gold;
}

#win-notification {
    font-size: 3rem;
    color: gold;
}

.hidden {
    display: none;
}